# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/api
/bin/

# Test binary, built with `go test -c`
*.test

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.vscode/
.DS_Store
